:root {
    /* colors*/
    --first-color: #3875be;
    --code-color: #192738;
}

html {
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(
        -225deg,
        #3875be 0%,
        #fff 52%,
        #192738 100%
    );
    min-height: 100%;
    padding-bottom: 5rem;
    color: #fff;
}

form {
    display: flex;
    width: 25%;
    background-color: #fff;
    align-content: center;
    background-color: var(--code-color);
    border-radius: 10px;
    padding: 50px;
    margin: 0 auto;
}

input {
    height: 20px;
    margin: 10px 0;
}

#btn-container {
    display: flex;
    width: fit-content;
    margin: 10px auto;
}

#btn-container button {
    background-color: var(--first-color);
    padding: 17px 15px;
    width: auto;
    height: 50px;
    margin-left: 20px;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

#container {
    margin-top: 10%;
}
